@media (max-width:820px){
    .home.content{
        display: block;
    }
}
body{
    /* background-color: gainsboro; */
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:white;
}
nav li{
    padding: 25px;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}
nav li :hover{
    color: black;
    transform: scale(1);
    background-color: lightcoral;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: larger;
}
img{
    width: 70px;
    height: 70px;
    margin-left: 30px;
}
.img1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    height: 120px;
}
.footer{
    background-color: lightgray;
}
.img3{
    margin-top: 30px;
    font-size: 26px;
}
.girl-img{
    width: 1170px;
    height: 980px;
    padding: 160px;
}
.girl-img img{
    width: 550px;
    height: 550px;
    object-fit: contain;
}
.home-sci a:hover{
    background: white;
    color:black;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
}
.btn-box{
    display: inline-block;
    padding: 12px 40px;
    background: orangered;
    border-radius: 10px;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
}
.btn-box:hover {
    box-shadow: 0 0 5px orange,
    0 0 25px orange, 0 0 50px orange,
    0 0 100px orange, 0 0 200px orange
}
.top{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    justify-content: space-between;
}
.align{
   display: flex;
   justify-content: center;
   list-style: none;
   font-size: 35px;
   height: 80px;
   font-weight: bold;
}
.s{
    text-decoration: none;
    color: black 
}
.home-sci{
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: black;
    margin-left: 74px;
    /* height: 60px; */
}
.full{
    display: flex;
}
p{
    font-size: 36px;
    font-weight: bold;
}
span{
    color: orangered;
}
h1{
    font-size: 50px;
}
/* .under{
    text-align: center;
    background-color: rgb(75, 73, 73);
    color: beige;
} */
/* .sarmi{
    text-decoration: none;
    color: rgb(39, 116, 183);
} */