@media (max-width:820px){
    .home.content{
        display: block;
    }
}
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:white;
}
.top{
    display: flex;
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    justify-content: space-between;
}
nav li{
    padding: 20px;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: 0.4s;
}
nav li :hover{
    color: black;
    transform: scale(1);
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}
img{
    width: 50px;
    height: 50px;
}
/* .logo{
    width: 100%;
} */
.footer{
    background-color: lightgray;
    width: 100%;
}
.img1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.img2{
    margin-top: 10px;
}
.img3{
    margin-top: 35px;
    font-size: 20px;
}
.home.content{
    width: 100%;
}
.home{
    position: relative;
    height: 600px;
    display:flex;
    width: 100%;
    align-items: center;    
    margin-left: 100px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    /* background: transparent; */
    border: 2px transparent;
    border-radius: 50%;
    font-size: 35px;
    color: black;
    text-decoration: none;
}
.home-sci a:hover{
    background: white;
    color:black;
    box-shadow: 0 0 20px black;
}
.btn-box{
    display: inline-block;
    padding: 10px 60px;
    background: orangered;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    margin-left: 120px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bolder;
}
.btn-box:hover {
    box-shadow: 0 0 5px orange,
    0 0 25px orange, 0 0 50px orange,
    0 0 100px orange, 0 0 200px orange
}
.header1{
    font-size: 24px;
}
.header2{
    font-size: 32px;
    color: orangered;
}
.header3{
    font-size: 40px;
}
span{
    color: orangered;
}
.para{
    font-size: 28px;
    font-weight: bold;
}
.girl-img{
    width: 750px;
    height: 750px;
    margin-left: 350px;
}
.girl-img img{
    width: 540px;
    height: 540px;
    object-fit: contain;
    font-size: larger;
    margin-top: 30px;
}
ul {
    display: flex;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
    color: blanchedalmond;
}
.home-sci1{
   font-size: 30px;
    margin-left: 160px;
}
.home-sci{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: black;
}
/* .under{
    text-align: center;
    background-color: rgb(75, 73, 73);
    color: beige; 
} */
.align{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
 }
 .s{
    text-decoration: none;
    color: black;
}
/* .sarmi{
    text-decoration: none;
    color: rgb(39, 116, 183);
} */
/* @media (max-width:820px){
    .home.content{
        display: block;
    }
} */