body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:white;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 25px;
    margin: 5px;
}
nav li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: 0.4s;
}
nav li :hover{
    color: black;
    transform: scale(1);
    background-color: blanchedalmond;
    padding: 10px;
    font-size: large;
}
img{
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: auto;
    margin-left: 10px;
}
.img1{
    display: flex;
    justify-content: center;
}
.img2{
    margin-top: 15px;
}
.img3{
    margin-top: 35px;
}
.home{
    position: relative;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-color: white;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent
    border: 2px transparent;
    border-radius: 60%;
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin: 10px 20px 50px 0;
}
.home-sci a:hover{
    background: white;
    color:black;
    box-shadow: 0 0 20px black;
}
.btn-box{
    display: inline-block;
    padding: 12px 40px;
    background: orangered;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
}
.btn-box:hover {
    box-shadow: 0 0 5px orange,
    0 0 25px orange, 0 0 50px orange,
    0 0 100px orange, 0 0 200px orange
}
section{
    padding:0 30%;
}
.home{
    position: relative;
    height:500px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.girl-img{
    width: 700px;
    height: 700px;
}
.girl-img img{
    width: 300px;
    height: 400px;
    object-fit: contain;
    font-size: larger;
    margin-top: 80px;
}
ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    justify-content: space-between;
}
.home-sci1{
    text-align: center;
}
.home.content{
    margin-top: 0;
}
.home-sci{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    margin-left: 74px;
    
}
.under{
    text-align: center;
    background-color: rgb(75, 73, 73);
    color: beige;  
}
.align{
    display: flex;
    justify-content: center;
    list-style: none;
 }
 .s{
    text-decoration: none;
    color: black;
}
.sarmi{
    text-decoration: none;
    color: rgb(39, 116, 183);
}
@media (width < 750px){
    nav.checkbox{
        display:block;
    }
}